<mat-card>
  <form [formGroup]="form" (ngSubmit)="login()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required type="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" required type="password">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>
    <a mat-button routerLink="forgot">Forgot Password?</a>
  </form>
</mat-card>
