@use '@angular/material' as mat;
@include mat.core();

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
